#canvas > canvas {
  width:100%
}

body{
  background-image: url("assets/images/hexellence.png"); 
  background-repeat: repeat;
}

.row{
  height: auto;
  font-family: 'Spectral SC', serif;
  padding-left: 10px;
  padding-right: 10px;
}

.col{
  margin-top: 15px;
  height: auto;
}

.btn{
  margin-left: 15px;
  margin-right: 5px;
 
}

#info{
text-align: center;
}

#connected{
  margin-top: 20px;
  margin-bottom: 15px;
  font-size: 20px;
  text-align: center;
  font-family: 'Spectral SC', serif;
  }
#buttonConnectivity{
  padding: 15px 25px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #4CAF50;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #999;
}
#buttonConnectivity:hover {background-color: #3e8e41}
#buttonConnectivity:active {
  background-color: #3e8e41;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

  .legend{
    margin-top: 20px;
    text-indent: 30%;
    margin-right: 10px;
  }

  #click_effect{
    margin-top: 20px;
    margin-right: 10px;
  }

  .form-control{
    font-family: 'Roboto Condensed', sans-serif;   
  }


  #buttonSpawnGraph{
    background-color: rgb(223, 156, 31);
    border: solid 2px rgb(223, 156, 31);
  }
  #buttonSpawnGraph:hover{background-color: rgba(223, 156, 31, 0.616); }

  #buttonDestroyGraph{
    background-color: rgb(223, 156, 31);
    border: solid 2px rgb(223, 156, 31);
  }
  #buttonDestroyGraph:hover{background-color: rgba(223, 156, 31, 0.616); }

#buttonDFScreate{
  background-color: rgb(54, 206, 54);
   border: solid 2px  rgb(54, 206, 54);
}
#buttonDFScreate:hover{background-color: rgba(68, 175, 22, 0.61);}

#buttonBFScreate{
  background-color: rgb(54, 206, 54);
  border: solid 2px  rgb(54, 206, 54);
  margin-left: 0px;
}
#buttonBFScreate:hover{background-color:rgba(54, 206, 54, 0.61);}

#buttonGraphSearchClear{
  background-color: rgb(66, 175, 22);
  border: solid 2px rgb(66, 175, 22);
  color: white;
}
#buttonGraphSearchClear:hover{background-color:rgba(54, 206, 54, 0.61);}

  #buttonColoring{
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 3px;
    background-color: rgb(30, 192, 30);
    border: solid 2px rgb(30, 192, 30);
    }
    #buttonColoring:hover{  background-color: rgba(30, 192, 30, 0.61);}

#buttonSpawnWater{
  background-color: rgb(49, 160, 224);
  border:solid 2px rgb(49, 160, 224);
}
#buttonSpawnWater:hover{background-color: rgb(49, 160, 224);}

#buttonRemoveWater{
  background-color: rgb(53, 134, 209);
  border: solid 2px rgb(53,134,209);
  color: white;
}
#buttonRemoveWater:hover{background-color:rgba(53, 136, 209, 0.61) }

#buttonShowHideTable{
  background-color: rgb(179, 47, 219);
border: solid 2px rgb(179, 47, 219);
margin-top: 10px;
}
#buttonShowHideTable:hover{background-color: rgba(179, 47, 219, 0.61)}