
#canvas > canvas {
  width:100%
}

.row{
  height: 603;
  font-family: 'Spectral SC', serif;
  padding-left: 10px;
  padding-right: 10px;
   background-image: url("img/hexellence.png")
}

.btn{
  margin-left: 15px;
  margin-right: 5px;
}

#buttonColoring{
margin-left: 30%;
margin-right: 30%;
background-color: #c96334;
}

#buttonBFScreate{
  margin-left: 0px;
}

#info{
  text-align: center;
margin-top: 20px;  
}

#connected{
  margin-top: 20px;
  font-size: 20px;
  text-align: center;
  font-family: 'Spectral SC', serif;
  
  }

  .legend{
    margin-top: 20px;
    text-indent: 30%;
    margin-right: 10px;
  }

  #click_effect{
    margin-top: 20px;
    margin-right: 10px;
  }